<div id="outer-container">
  <header>
    <div id="logo"><fa-icon [icon]="faComment"></fa-icon></div>
    <div id="user-container" (click)="toggleUserMenu()">
      <fa-icon [icon]="faUser"></fa-icon>
      <span id="user-name">{{ user.firstName }} {{ user.lastName }}</span>
    </div>

    <div *ngIf="showUserMenu" class="popup-menu" (clickOutside)="hideUserMenu()" exclude="#user-container">
      <div id="user-full-name">{{ user.firstName }} {{ user.lastName }}</div>
      <div>{{ user.username }}</div>
      <button (click)="logOut()">Log out</button>
    </div>

  </header>

  <main>
    <div id="sidebar"></div>
    <div id="content"></div>
  </main>
</div>
