@import '../../../variables';

#outer-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background: $header-color;
  padding: 0.5em;
  color: #FFFFFF;
  display: flex;
  position: relative;

  #logo {
    flex-grow: 1;
  }

  #user-container {
    cursor: pointer;

    fa-icon {
      font-size: 0.7em;
      margin-right: 0.5em;
    }

    #user-name {
      font-size: 0.8em;
    }
  }
}

main {
  flex-grow: 1;
  display: flex;
}

#sidebar {
  background: $sidebar-color;
  width: 13em;
}

.popup-menu {
  position: absolute;
  top: calc(100% + 2px);
  right: 0;
  background: #FFFFFF;
  color: $text-color;
  border: 1px solid #999999;
  box-shadow: 0 0 10px #AAAAAA;
  padding: 0.5em;
  font-size: 0.9em;

  #user-full-name {
    font-weight: bold;
  }
}
