@import '../../../../variables';

#outer-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
}

#sidebar {
  background: $sidebar-color;
  width: 13em;
  color: #FFFFFF;

  .menu-item {
    margin: 0.25em;
    padding: 0.5em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background: lighten($sidebar-color, 10%);
    }
  }
}
