@import '../../../../variables';

header {
  background: $header-color;
  padding: 0.5em;
  color: #FFFFFF;
  display: flex;
  user-select: none;

  #logo {
    display: flex;
    align-items: center;
  }

  #title {
    flex-grow: 1;
    font-size: 1.2em;
    margin-left: 0.25em;
    font-weight: bold;
  }
}

.action-button {
  &:hover {
    background: lighten($header-color, 5%);
  }
}
