<div id="user-search">
  <input type="search" placeholder="Search by name or username">
</div>

<div class="spinner-container" *ngIf="loading; else userList">
  <app-spinner size="10em" borderWidth="1.1em" color="#106991"></app-spinner>
</div>

<ng-template #userList>
  <div id="user-list" *ngIf="!loading">
    <div class="user-entry" *ngFor="let user of users">
      <div class="user-avatar">
        <svg [appIdenticon]="user.username"></svg>
      </div>
      <div class="user-details">
        <div class="user-full-name"><fa-icon [icon]="icons.admin" *ngIf="user.admin"></fa-icon> {{ user.firstName }} {{ user.lastName }}</div>
        <div class="user-username">{{ user.username }}</div>
      </div>
      <div class="delete-button">
        <fa-icon [icon]="icons.delete"></fa-icon>
      </div>
    </div>
  </div>
</ng-template>
