<div id="user-search">
  <input type="search" placeholder="Search by name or username" (input)="onSearch($event.target.value)">
</div>

<div class="spinner-container" *ngIf="loading">
  <app-spinner size="10em" borderWidth="1.1em" color="#106991"></app-spinner>
</div>

<div *ngIf="error" class="status-message status-message-error">
  <fa-icon [icon]="icons.error"></fa-icon>
  <div class="message">
    An error occurred while loading the user list.
    <button id="users-retry-button" class="button-inverse" (click)="onRetry()">Try again</button>
  </div>
</div>

<div id="user-list" *ngIf="!loading && !error">
  <div (click)="onEdit(user)" class="user-entry" *ngFor="let user of users">
    <div class="user-avatar">
      <svg [appIdenticon]="user.username"></svg>
    </div>
    <div class="user-details">
      <div class="user-full-name"><fa-icon [icon]="icons.admin" *ngIf="user.admin"></fa-icon> {{ user.firstName }} {{ user.lastName }}</div>
      <div class="user-username">{{ user.username }}</div>
    </div>
    <div *ngIf="user.id !== currentUser.id" class="delete-button" (click)="onDelete(user, $event)">
      <fa-icon [icon]="icons.delete"></fa-icon>
    </div>
  </div>
</div>
