:host {
  display: flex;
  overflow: hidden;
  height: 100vh;

  main {
    position: relative;
  }

  /deep/ router-outlet.main ~ * {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

#notification-container {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
