@import '../../../../variables';

header {
  background: $header-color;
  padding: 0.5em;
  color: #FFFFFF;
  display: flex;
  position: relative;
  user-select: none;

  #logo {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  #admin-container {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    margin-right: 0.25em;

    a {
      color: #FFFFFF;
    }
  }

  #user-container {
    cursor: pointer;
    padding: 0.25em;
    border-radius: 3px;
    display: flex;
    align-items: center;
    transition: background-color 0.25s;

    fa-icon {
      font-size: 0.7em;
      margin-left: 0.5em;
      transition: transform 0.2s;

      &.open {
        transform: rotate(180deg);
      }
    }

    svg {
      width: 1em;
      height: 1em;
      margin-right: 0.25em;
    }

    #user-name {
      font-size: 0.8em;
    }

    &:hover {
      background: lighten($header-color, 5%);
    }
  }
}

.popup-menu {
  margin-top: 1px;

  #user-menu-header {
    display: flex;

    #user-avatar {
      font-size: 2em;
      margin-right: 0.25em;

      svg {
        width: 1.5em;
        height: 1.5em;
      }
    }
  }

  #user-full-name {
    font-weight: bold;
  }
}