<header #header>
  <div id="logo"><fa-icon [icon]="icons.comment"></fa-icon></div>
  <div *ngIf="(user$ | async)?.admin" (click)="goToAdmin()" id="admin-container" class="action-button">
    <fa-icon [icon]="icons.admin"></fa-icon> Administration
  </div>
  <div id="user-container"
    class="action-button"
    [popper]="userMenu"
    [popperTarget]="header"
    popperPlacement="bottom-end"
    popperTrigger="click"
    (popperOnShown)="showUserMenu()"
    (popperOnHidden)="hideUserMenu()">
    <svg [appIdenticon]="(user$ | async)?.username"></svg>
    <span id="user-name">{{ (user$ | async)?.firstName }} {{ (user$ | async)?.lastName }}</span>
    <fa-icon [icon]="icons.chevronDown" [class.open]="userMenuOpen$ | async"></fa-icon>
  </div>
</header>

<popper-content #userMenu>
  <div class="popup-menu">
    <div id="user-menu-header">
      <div id="user-avatar">
        <svg [appIdenticon]="(user$ | async)?.username"></svg>
      </div>
      <div id="menu-user-name">
        <div id="user-full-name">{{ (user$ | async)?.firstName }} {{ (user$ | async)?.lastName }}</div>
        <div id="user-username">{{ (user$ | async)?.username }}</div>
      </div>
    </div>

    <div><a [routerLink]="['edit-profile']" (click)="hideUserMenu()">Edit Profile</a></div>

    <button (click)="logOut()">Log out</button>
  </div>
</popper-content>
