@import '../../../../variables';

header {
  background: $header-color;
  padding: 0.5em;
  color: #FFFFFF;
  display: flex;
  position: relative;
  user-select: none;

  #logo {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  #admin-container {
    margin-right: 0.25em;
  }

  #user-container {
    fa-icon {
      margin-left: 0.5em;
      transition: transform 0.2s;

      &.open {
        transform: rotate(180deg);
      }
    }

    svg {
      width: 1.2em;
      height: 1.2em;
      margin-right: 0.25em;
    }
  }
}

.popup-menu {
  margin-top: 1px;

  #user-menu-header {
    display: flex;

    #user-avatar {
      font-size: 2em;
      margin-right: 0.25em;

      svg {
        width: 1.5em;
        height: 1.5em;
      }
    }
  }

  #user-full-name {
    font-weight: bold;
  }
}

.action-button {
  &:hover {
    background: lighten($header-color, 5%);
  }
}
