<header #header>
  <div id="logo"><fa-icon [icon]="icons.comment"></fa-icon></div>
  <div id="user-container"
    [popper]="userMenu"
    [popperTarget]="header"
    popperPlacement="bottom-end"
    popperTrigger="click"
    (popperOnShown)="userMenuOpen = true"
    (popperOnHidden)="userMenuOpen = false">
    <svg [appIdenticon]="user.username"></svg>
    <span id="user-name">{{ user.firstName }} {{ user.lastName }}</span>
    <fa-icon [icon]="icons.chevronDown" [class.open]="userMenuOpen"></fa-icon>
  </div>
</header>

<popper-content #userMenu>
  <div class="popup-menu">
    <div id="user-menu-header">
      <div id="user-avatar">
        <svg [appIdenticon]="user.username"></svg>
      </div>
      <div id="user-name">
        <div id="user-full-name">{{ user.firstName }} {{ user.lastName }}</div>
        <div>{{ user.username }}</div>
      </div>
    </div>

    <div><a [routerLink]="['edit-profile']" (click)="hidePopupMenu()">Edit Profile</a></div>

    <button (click)="logOut()">Log out</button>
  </div>
</popper-content>