<h1>Users</h1>

<button class="button-primary" [routerLink]="['/admin', 'users', 'new']">Create User</button>

<router-outlet></router-outlet>

<app-admin-user-list
  [currentUser]="currentUser$ | async"
  [error]="error$ | async"
  [loading]="loading$ | async"
  [users]="users$ | async"
  (retry)="retryLoadUsers()"
  (delete)="deleteUser($event)"
  (searchUsers)="searchUsers($event)"></app-admin-user-list>

<app-confirm-modal *ngIf="deleteModalState.show"
  title="Delete user?"
  confirmButtonType="button-primary-danger"
  confirmButtonText="Delete"
  (confirm)="confirmDelete(deleteModalState.user)"
  (cancel)="cancelDelete()">
  <div>
    <div>Are you sure you want to delete the user <strong>{{ deleteModalState.user.firstName }} {{ deleteModalState.user.lastName }}</strong>?</div>
    <div>This operation cannot be undone.</div>
  </div>
</app-confirm-modal>