<div id="room-search">
  <input type="search" placeholder="Search rooms" (input)="onSearch($event.target.value)">
</div>

<div class="spinner-container" *ngIf="loading">
  <app-spinner size="10em" borderWidth="1.1em" color="#106991"></app-spinner>
</div>

<div *ngIf="error" class="status-message status-message-error">
  <fa-icon [icon]="icons.error"></fa-icon>
  <div class="message">
    An error occurred while loading the room list.
    <button id="rooms-retry-button" class="button-inverse" (click)="onRetry()">Try again</button>
  </div>
</div>

<div id="room-list" *ngIf="!loading && !error">
  <div class="room-entry" *ngFor="let room of rooms">
    <div class="room-name">
      <fa-icon [icon]="icons.chat"></fa-icon>
      {{ room.name }}
    </div>
    <div class="room-description">
      <span *ngIf="room.description">{{ room.description }}</span>
      <span *ngIf="!room.description">&nbsp;</span>
    </div>
  </div>
</div>