@import '../../../../../variables';

.spinner-container {
  margin: 2em;
}

#room-search {
  margin: 0.5em;

  input {
    width: 100%;
  }
}

#room-list {
  .room-entry {
    border: 1px solid $light-brand-color;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background: lighten($light-brand-color, 15%);
    }

    .room-name {
      font-weight: bold;
    }
  }
}