<div id="login-container">
  <div id="login-form">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div id="login-form-header">
        <h1 @fade *ngIf="!(authError$ | async) && !(error$ | async)"><fa-icon [icon]="faComment"></fa-icon></h1>
        <div @fade *ngIf="(authError$ | async)" class="status-message status-message-error">
          <div class="message">Looks like your username or password wasn't correct. Please try again.</div>
        </div>
        <div @fade *ngIf="(error$ | async)" class="status-message status-message-error">
            <fa-icon [icon]="faExclamationTriangle"></fa-icon>
            <div class="message">Oops! We encountered an error while logging you in. Please try again.</div>
          </div>
      </div>

      <div class="row">
        <label for="username">Username</label>
        <input #username formControlName="username" id="username" type="text" [class.error]="hasRequiredError('username')">
        <div class="error" *ngIf="hasRequiredError('username')">Please enter your username.</div>
        <div class="error" *ngIf="!hasRequiredError('username')">&nbsp;</div>
      </div>
      <div class="row">
        <label for="password">Password</label>
        <input formControlName="password" id="password" type="password" [class.error]="hasRequiredError('password')">
        <div class="error" *ngIf="hasRequiredError('password')">Please enter your password.</div>
        <div class="error" *ngIf="!hasRequiredError('password')">&nbsp;</div>
      </div>

      <div id="button-container">
        <button class="button-primary" [disabled]="!loginForm.valid || (loading$ | async)">
          <span *ngIf="!(loading$ | async)">Log In</span>
          <span *ngIf="loading$ | async"><app-spinner size="1.5em" borderWidth="0.25em"></app-spinner></span>
        </button>
        <div id="signup-link">
          Don't have an account? <a routerLink="/signup">Sign up here</a>
        </div>
      </div>
    </form>
  </div>
</div>