// http://www.colourlovers.com/palette/4579062/Monoaquatic

$primary-brand-color: #106991;
$light-brand-color: #A6DDF5;
$header-color: $primary-brand-color;
$button-color: #1E9FD9;
$button-hover-color: lighten($button-color, 45%);
$error-color: #CC3F3F;
$sidebar-color: #1D343F;
$text-color: #333333;
$success-color: #0BA352;