@import './variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: $text-color;
}

button {
  background: transparent;
  border: 1px solid $button-color;
  border-radius: 3px;
  font-size: 0.85rem;
  color: $button-color;
  margin: 0.5em;
  padding: 0.5em 1.5em;
  min-width: 10em;
  cursor: pointer;
  transition: all 0.25s;
  outline: none;

  &:disabled:hover {
    background: transparent;
  }

  &:hover {
    background: $button-hover-color;
  }

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }

  &.button-primary {
    background: $button-color;
    color: #FFFFFF;

    &:disabled:hover {
      background: $button-color;
    }

    &:hover {
      background: lighten($button-color, 10%);
    }
  }

  &.button-inverse {
    border-color: #FFFFFF;
    color: #FFFFFF;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }

    &:disabled:hover {
      background: transparent;
    }
  }

  &.button-danger {
    border-color: $danger-color;
    color: $danger-color;

    &:hover {
      background: lighten($danger-color, 35%);
    }

    &:disabled:hover {
      background: transparent;
    }
  }

  &.button-primary-danger {
    background: $danger-color;
    border-color: $danger-color;
    color: #FFFFFF;

    &:hover {
      background: lighten($danger-color, 10%);
    }

    &:disabled:hover {
      background: $danger-color;
    }
  }
}

input {
  font-size: 1em;
  padding: 0.5em;
  border: 1px solid #AAAAAA;
  border-radius: 3px;
  transition: all 0.25s;

  &:focus {
    outline: none;
    border-color: $primary-brand-color;
    box-shadow: 0 0 10px #AAAAAA;
  }

  &.error {
    border-color: $error-color;
  }
}

.popup-menu {
  background: #FFFFFF;
  color: $text-color;
  border: 1px solid #999999;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  padding: 0.5em;
  font-size: 0.9em;
}

a {
  color: $primary-brand-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  margin: 0.25em 0 0.25em 0;
}

.status-message {
  padding: 1em;
  border-radius: 5px;
  font-size: 0.9em;
  width: 100%;
  display: flex;

  .message {
    align-self: center;
  }
}

.status-message-info {
  background: $light-brand-color;
  color: darken($light-brand-color, 50%);
}

.status-message-error {
  background: $error-color;
  color: #FFFFFF;

  fa-icon {
    font-size: 3em;
    margin-right: 0.5em;
  }
}

.action-button {
  display: flex;
  align-items: center;
  transition: background-color 0.25s;
  font-size: 0.8em;
  padding: 0.25em;
  border-radius: 3px;
  cursor: pointer;

  fa-icon {
    margin-right: 0.5em;
  }
}

#sidebar {
  background: $sidebar-color;
  padding: 0.5em;
  width: 13em;
  color: #FFFFFF;

  .menu-item {
    margin: 0.25em;
    padding: 0.5em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    outline: none;

    &.menu-item-active {
      background: lighten($sidebar-color, 10%);
    }

    &:hover {
      background: lighten($sidebar-color, 5%);
    }
  }
}
