@import '../../../../variables';

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #FFFFFF;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);

  .modal-header {
    background: $primary-brand-color;
    padding: 0.5em;
    display: flex;
    border-radius: 3px 3px 0 0;

    .modal-header-title {
      flex-grow: 1;
      margin-right: 0.5em;
      color: #FFFFFF;
    }

    fa-icon {
      color: #FFFFFF;
      cursor: pointer;
    }
  }

  .modal-body {
    padding: 0.5em;
  }

  .modal-footer {
    background: #EEEEEE;
    border-top: 1px solid #CCCCCC;
    padding: 0.5em;
    border-radius: 0 0 3px 3px;
  }
}