@import '../../variables';

header {
  background: $header-color;
  padding: 0.5em;
  color: #FFFFFF;

  h1 {
    margin: 0;
  }
}

main {
  padding: 0.25em;

  #button-container {
    margin-top: 1em;
    text-align: center;
  }
}
