<div id="signup-container">
  <div id="signup-form">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div id="signup-form-header">
        <h1 @fade *ngIf="isNormalState || isLoadingState"><fa-icon [icon]="faComment"></fa-icon></h1>
        <div @fade *ngIf="isErrorState" class="status-message status-message-error">
          <fa-icon [icon]="faExclamationTriangle"></fa-icon>
          <div class="message">Oops! We encountered an error while processing your signup. Please try again.</div>
        </div>
      </div>
      
      <div class="row">
        <label for="first-name">First name</label>
        <input #firstName formControlName="firstName" id="first-name" type="text" [class.error]="hasRequiredError('firstName')">
        <div class="error" *ngIf="hasRequiredError('firstName')">First name is required.</div>
        <div class="error" *ngIf="!hasRequiredError('firstName')">&nbsp;</div>
      </div>
      <div class="row">
        <label for="last-name">Last name</label>
        <input formControlName="lastName" id="last-name" type="text" [class.error]="hasRequiredError('lastName')">
        <div class="error" *ngIf="hasRequiredError('lastName')">Last name is required.</div>
        <div class="error" *ngIf="!hasRequiredError('lastName')">&nbsp;</div>
      </div>
      <div class="row">
        <label for="email">Email address</label>
        <input formControlName="email" id="email" type="email" [class.error]="hasEmailError">
        <div class="error" *ngIf="hasRequiredError('email')">Email address is required.</div>
        <div class="error" *ngIf="hasInvalidEmailError">Invalid email address.</div>
        <div class="error" *ngIf="!hasEmailError">&nbsp;</div>
      </div>
      <div class="row">
        <label for="username">Username</label>
        <input formControlName="username" id="username" type="text" [class.error]="hasUsernameError">
        <div class="error" *ngIf="hasRequiredError('username')">Username is required.</div>
        <div class="error" *ngIf="hasUsernameTakenError">That username is already taken.</div>
        <div class="error" *ngIf="!hasUsernameError">&nbsp;</div>
      </div>
      <div class="row">
        <label for="password">Password</label>
        <input formControlName="password" id="password" type="password" [class.error]="hasRequiredError('password')">
        <div class="error" *ngIf="hasRequiredError('password')">Password is required.</div>
        <div class="error" *ngIf="!hasRequiredError('password')">&nbsp;</div>
      </div>
      <div class="row">
        <label for="confirm-password">Confirm password</label>
        <input formControlName="confirmPassword" id="confirm-password" type="password" [class.error]="hasConfirmPasswordError">
        <div class="error" *ngIf="hasRequiredError('confirmPassword')">Please confirm your password.</div>
        <div class="error" *ngIf="hasPasswordMatchError && !hasRequiredError('confirmPassword')">Passwords do not match.</div>
        <div class="error" *ngIf="!hasConfirmPasswordError">&nbsp;</div>
      </div>

      <div id="button-container">
        <button class="button-primary" [disabled]="!signupForm.valid || isLoadingState">
          <span *ngIf="!isLoadingState">Sign Up</span>
          <span *ngIf="isLoadingState"><app-spinner size="1.5em" borderWidth="0.25em"></app-spinner></span>
        </button>
        <button type="button" routerLink="/">Cancel</button>
      </div>
    </form>
  </div>
</div>